.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#container {
  background-color: gray;
  color: whitesmoke;
  border-radius: 10px;
  border-color: whitesmoke;
  padding-right: 3em;
  padding: 10px;
  text-align: center;
  font-size: xx-large;
  border-width: 50%;
  size: 50%;
}
body{
  background-image: url(./images/piano.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}
p {
  color: whitesmoke;
}